* {
    box-sizing: border-box;
    margin: 0;
}
header{
    background-image: url(./img./image.png);
    background-size: cover;
    height: 650px;
}
.a-2{
    position: absolute;
    left: 883px;
    top: 40px;
    font-size: 18px;
    line-height: 20px; 
    text-decoration-line: underline;
}
.a-3{
    position: absolute;
    left: 205px;
    top: 20px;
}
.a-4{
    width: 560px;
    height: 176px;
    left: 420px;
    top: 180px;
    position: absolute;
}
.a-5{
    position: absolute;
    width: 209px;
    height: 48px;
    left: 150px;
    top: 150px;
    background: #F33D01;
    border-radius: 48px;
}